<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tennis Score Board</title>
    <link th:href="@{resources/css/style.css}" rel="stylesheet" />
</head>
<body>
<section class="first">
    <div class="container">
        <div class="first_wrapper">
            <div class="first_item">
                <img th:src="@{resources/img/tennisplayers.png}" alt="tennisplayers" class="tennisplayers2">
                <div class="match_board">
                    <div class="score_block">
                        <h3 class="score_block_text">Name</h3>
                    </div>
                    <div class="score_block">
                        <h3 class="score_block_text">Set</h3>
                    </div>
                    <div class="score_block">
                        <h3 class="score_block_text">Game</h3>
                    </div>
                    <div class="score_block">
                        <h3 class="score_block_text">Points</h3>
                    </div>
                    <div class="score_block">
                        <h3 class="score_block_text">Win a point</h3>
                    </div>
                </div>
                <div class="match_board">
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getPlayer1().getName()}">Name</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getSetPlayer(1)}">Set</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getGamePlayer(1)}">Game</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getPointsPlayer(1)}">Points</h3>
                    </div>
                    <div class="score_block2">
                        <!-- IF -->
                        <div th:if="${currentMatch.getScore().isMatchEnd()}">
                            <form th:method="GET" th:action="@{/new-match}">
                                <button type="submit" name="playerIdWinPoint" class="second_btn">New Match</button>
                            </form>
                        </div>
                        <!-- ELSE -->
                        <div th:unless="${currentMatch.getScore().isMatchEnd()}">
                            <form th:method="POST" th:action="@{/match-score?uuid={uuid}(uuid=${uuid})}">
                                <button type="submit" th:value="${currentMatch.getPlayer1().getId()}" name="playerIdWinPoint" class="second_btn">Win</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="match_board">
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getPlayer2().getName()}">Name</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getSetPlayer(2)}">Set</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getGamePlayer(2)}">Game</h3>
                    </div>
                    <div class="score_block2">
                        <h3 class="score_block_text" th:text="${currentMatch.getScore().getPointsPlayer(2)}">Points</h3>
                    </div>
                    <div class="score_block2">
                        <!-- IF -->
                        <div th:if="${currentMatch.getScore().isMatchEnd()}">
                            <form th:method="GET" th:action="@{/matches}">
                                <button type="submit" name="playerIdWinPoint" class="second_btn">View Matches</button>
                            </form>
                        </div>
                        <!-- ELSE -->
                        <div th:unless="${currentMatch.getScore().isMatchEnd()}">
                            <form th:method="POST" th:action="@{/match-score?uuid={uuid}(uuid=${uuid})}">
                                <button type="submit" th:value="${currentMatch.getPlayer2().getId()}" name="playerIdWinPoint" class="second_btn">Win</button>
                            </form>
                        </div>
                    </div>
                </div>
                <form th:method="GET" th:action="@{/matches}">
                    <button type="submit" class="first_btn">View matches</button>
                </form>
            </div>
        </div>
    </div>
</section>
</body>
</html>