<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Tennis: New Match</title>
</head>
<body>

<form th:method="POST" th:action="@{/match-score}">
	<label for="1">Enter name: </label>
	<input type="text" th:value="${player1.name}" name="player1" id="1"/>
	<br/>
	<label for="2">Enter name: </label>
	<input type="text" th:value="${player2.name}" name="player2" id="2"/>
	<br/>
	<input type="submit" value="Create!"/>
</form>

</body>
</html>





<!-- <form th:method="POST" th:action="@{/match-score}" th:object="${player1}">
	<label for="name1">Enter name: </label>
	<input type="text" th:field="*{name}" id="name1"/>
	<br/>
	<input type="submit" value="Create!"/>
</form> -->
